.font-1-xl {
  font: 700 7.2rem/1.11 'Playfair Display', serif;
}

.font-1-l {
  font: 500 3.6rem/1.5 'Playfair Display', serif;
}

.font-2-l {
  font: 600 3.6rem/1.11 'Fira Sans', sans-serif;
}

.font-2-m {
  font: 400 2.4rem/1.5 'Fira Sans', sans-serif;
}

.font-2-s {
  font: 400 1.8rem/1.44 'Fira Sans', sans-serif;
}

.font-2-s-menu {
  font: 400 1.8rem/3.33 'Fira Sans', sans-serif;
}

.font-2-s-botao {
  font: 600 1.8rem/1.33 'Fira Sans', sans-serif;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .font-1-xl {
    font-size: 4.8rem;
  }

  .font-2-l {
    font-size: 1.8rem;
  }
}

@media (max-width: 800px) {
  .font-1-xl {
    font-size: 3.2rem;
  }

  .font-2-l {
    font-size: 1.6rem;
  }

  .font-2-m {
    font-size: 1.8rem;
  }

  .font-2-s {
    font: 400 1.8rem/1.6 'Fira Sans', sans-serif;
  }
}

@media (max-width: 600px) {
  .font-2-l {
    font-size: 1.8rem;
  }
}
