.footer-bg {
  background: var(--cor-p5);
}

.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-redes {
  display: flex;
  gap: 40px;
  justify-content: end;
}

@media (max-width: 850px) {
  .footer {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 80px;
  }
}
