.header-bg {
  box-shadow: 0px 1px 2px rgba(84, 118, 243, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background: var(--cor-0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 24px;
  background-color: var(--cor-0);
}

.header-menu a {
  padding: 24px;
  display: inline-block;
  transition: all 300ms;
}

.header-menu a:hover {
  color: var(--cor-p5);
}

.header-menu a.ativo {
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--cor-p2);
  color: var(--cor-0);
}

.header button {
  display: none;
}

@media (max-width: 800px) {
  .header-bg {
    padding: 32px;
  }

  #menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 230px;
    height: 100vh;
    background: var(--cor-0);
    box-shadow: 4px 0px 16px rgba(84, 118, 243, 0.1);
    display: none;
  }

  .header-menu {
    flex-direction: column;
    gap: 0px;
  }

  .header-menu a {
    width: 100%;
  }

  .header-menu a.ativo {
    background-color: var(--cor-p2);
    padding: 16px;
    color: var(--cor-0);
  }

  .header button {
    display: inline-block;
    cursor: pointer;
    background: transparent;
  }

  #close-btn {
    display: none;
  }
}

@media (max-width: 400px) {
  #logo {
    width: 150px;
  }
}

@media (max-width: 300px) {
  #logo {
    width: 120px;
  }
}
