.sobre-bg {
  background: url('../../img/dec/dec-bottom-right.svg') no-repeat right bottom;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 120px;
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.sobre-info p {
  margin-bottom: 32px;
}

.botoes {
  display: flex;
  gap: 30px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.habilidades {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-bottom: 60px;
}

.formacao {
  display: block;
}

.js .formacao {
  display: none;
}

.faculdade-lista {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid var(--cor-p5);
}

.faculdade-tipo {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.faculdade-curso {
  flex: 1;
  position: relative;
  margin-bottom: 40px;
  font-weight: 600;
}

.faculdade-curso::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(
    166.96deg,
    #3459df 11.03%,
    #153cc6 47.16%,
    #0f2d95 88.97%
  );
  position: absolute;
  left: -24px;
}

.faculdade-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.faculdade-periodo {
  font-size: 12px;
}

.cursos {
  display: block;
}

.js .cursos {
  display: none;
}

.cursos li {
  display: grid;
  grid-template-columns: 8px 2fr 1fr 1fr;
  margin-bottom: 24px;
  gap: 8px;
  place-items: baseline;
  width: 100%;
}

.cursos li::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--cor-p2);
}

.cursos span:nth-child(1) {
  place-self: flex-start;
}

@media (max-width: 850px) {
  .sobre-bg {
    background: none;
    margin-bottom: 60px;
  }

  .sobre .subtitulo {
    margin-left: auto;
    margin-right: auto;
  }

  .sobre {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .habilidades {
    align-items: flex-start;
    justify-content: center;
  }

  .botoes {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .sobre-img {
    display: none;
  }
}

@media (max-width: 500px) {
  .botoes {
    gap: 16px;
  }

  .faculdade {
    flex-basis: max-content;
  }

  .faculdade-lista {
    flex-wrap: wrap;
  }
}
